<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">

        <test name="E2E_Edge" verbose="2">
            <parameter name="browser" value="edge"/>
            <parameter name="username" value="basuabhinandan99@gmail.com"/>
            <parameter name="password" value="Abhi@12345"/>
            <classes>
                <class name="org.example.demoEverTest.E2ETestForEcommerce"/>
            </classes>
        </test>

        <test name="E2E_Chrome" verbose="10">
            <parameter name="browser" value="chrome"/>
            <parameter name="username" value="basuabhinandan99@gmail.com"/>
            <parameter name="password" value="Abhi@12345"/>
            <classes>
                <class name="org.example.demoEverTest.E2ETestForEcommerce"/>
            </classes>
        </test>

</suite>